<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header') %>
<body>
    
    <%- include('./partials/nav') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Ramesh is currently working at MNC company as junior software developer.</p>
        <p>He also likes to develop web applications.</p>
        <p>This blog site is just for fun!</p>
        
    </div>
    <%- include('./partials/footer') %>
</body>
</html>